* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.focus {
  position: relative;
  width: 721px;
  height: 455px;
  background-color: purple;
  overflow: hidden;
}

.fl {
  float: left;
}
/* 子盒子可以比父盒子大 */
.focus ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
}

.focus ul li {
  float: left;
}

.arrow-l,
.arrow-r {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  z-index: 2;
}

.arrow-r {
  right: 0;
}
